<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795478431816-fan69std2l406pu6lvff5hag74vqoq35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795478431816-fan69std2l406pu6lvff5hag74vqoq35</string>
	<key>API_KEY</key>
	<string>AIzaSyC2mHmGYE0zWC5hoW7880dBXgRNZumdX_I</string>
	<key>GCM_SENDER_ID</key>
	<string>795478431816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.shivanshsingh.mainstreet-app</string>
	<key>PROJECT_ID</key>
	<string>mainstreet-28b5c</string>
	<key>STORAGE_BUCKET</key>
	<string>mainstreet-28b5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795478431816:ios:313b542e777f88f881607d</string>
</dict>
</plist>